html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #B48A7C;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #B48A7C;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #B48A7C;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #000;
  border-bottom: 1px solid #3d3d3d;
  height: 186px;}
  
#banner
{  background: transparent url(banner1.jpg) no-repeat;
  width: 870px;
  height: 50px;
  margin-bottom: 10px;
  border: 5px solid #DDD;}

#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: #1d1d1d;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: rgb(156, 134, 126);}

#logo_text a:hover .logo_colour
{ color: #5E4238;}

#logo_text h2
{ font-size: 1em;
  padding: 4px 0 0 0;
  color: #B48A7C;}

#menubar
{ width: 872px;
  height: 45px;
  padding-right: 8px;
  background: #2D2D2D;
  border-top: 1px solid #3D3D3D;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 8px 4px 0 4px;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #5E4238;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 20px 5px 11px;}

ul#menu li.selected
{ margin: 8px 4px 0 13px;
  background: #B48A7C;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #B48A7C;
  color: #FFF;}

ul#menu li a:hover
{ color: #B48A7C;}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 10px auto 0 auto;
  padding: 0 0 10px 0;} 

#sidebar_container
{ float: left;
  width: 224px;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 5px;
  border: 1px solid rgb(90, 76, 58);
  border-radius: 20px;
}

.sidebar_item
{ padding: 15px 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;} 

.sidebar ul
{ margin: 0;} 

#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: right;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 50px;
  padding: 8px 0 10px 0;
  text-align: center; 
  background: #000;
  border-top: 2px solid #2D2D2D;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #B48A7C;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}

ul.share-buttons{
  list-style: none;
  padding: 2px;
}
  
ul.share-buttons li{
  display: inline;
}
  
ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#sm-icon {
  border-radius: 10px;
  padding: 2px 4px 2px 4px;
  text-decoration: none;
}

.m-header { 
  text-align: center;
  background: #000;
  border-bottom: 3px solid #3d3d3d;
  height: 10%;
  font-size: 1em;
}

.m-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

#m-head {
  padding: 5px;
  text-decoration: none;
  color: #FFF;
  font-size: 4em;
}

#m-h2 {
  background: transparent url(bannerm.png) no-repeat;
  background-size: cover;
  color: rgb(209, 199, 172);
  text-shadow: black 5px 5px;
  font-weight: bold;
  height: 10%;
  font-size: 3em;
}

#m-span {
  background: #1d1d1d;
  color: #B48A7C;
}

.m-body {
  text-align: center;
}

#mflinks {
  width: 100%;
  padding-bottom: 38%;
  border-top: 2px solid rgb(90, 76, 58);
  border-bottom: 2px solid rgb(90, 76, 58);
  background-color: rgb(255, 255, 255);
}
.m-links {
  padding-top: 4px;
    position: relative;
    float: left;
    width: 33%;
    font-size: 1.5em;
    overflow: hidden;
}

#sm-smicon {
  text-decoration: none;
}

#sm-micon {
  border-radius: 10px;
  border: 1px solid rgb(90, 76, 58);
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.m-foot {
  position: fixed;   
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5em;
}

.mbutt {
  background-color: #2D2D2D;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 4px 2px;
  cursor: pointer;
}

#mtitle {
  border-bottom: 2px solid rgb(119, 105, 87);
}

#mhead {
  font-size: 1.5em;
}

#mdcont {
  padding: 0px 20% 0px 20%;
  font-size: 1.5em;
}
