{{define "footer"}}
<div id="content_footer">
</div>
<div id="footer">
    <p>
        <a href="index">Home</a> |
        <a href="services">Services</a> |
        <a href="gallery">Gallery</a> |
        <a href="about">About</a> |
        <a href="contact">Contact</a> |
        <a href="mobile">Mobile</a>
    </p>
    <p>Copyright &copy; William Beever |
        <a href="http://validator.w3.org/check?uri=referer">HTML5</a> |
        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
        <a href="https://golang.org/">GoLang</a>
    </p>
</div>
{{end}}