<!DOCTYPE HTML>
<html>

{{template "header"}}

<body>
    <div id="main">
        <div id="header">
            {{template "logo"}} {{template "navbar"}}
        </div>
        <div id="content_header"></div>
        <div id="site_content">
            <div id="banner"></div>
            <div id="sidebar_container">
                {{template "sbfavs"}} {{template "sblinks"}} {{template "sbsmed"}}
            </div>
            <div id="content">
                {{template "dindex"}}
            </div>
        </div>
        {{template "footer"}}
    </div>
</body>

</html>