<!DOCTYPE html>
<html>

{{template "mhead"}}

<body class="m-body">
  <div class="m-header">
    <h1 id="m-head">On The Level</h1>
  </div>
  <div class="m-body">
    <h2 id="m-h2">handyman</h2>
    <div id="mdgall">
      <h1>Gallery</h1>
      <h4>Specializing in All Aspects of Kitchen and Bathroom Remodeling.</h4>
      <span class="left">
        <a href="../static/kitchen.jpg" target="_top">
          <img src="../static/kitchen.png" alt="example graphic" />
        </a>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum.
      </p>
      <span class="center">
        <a href="../static/tile.jpg" target="_top">
          <img src="../static/tile.png" alt="example graphic" />
        </a>
      </span>
      <span class="right">
        <a href="../static/flooring.jpg" target="_top">
          <img src="../static/flooring.png" alt="example graphic" />
        </a>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
  {{template "mlinks"}} {{template "mfoot"}}
</body>

</html>