{{define "mlinks"}}
<div id="mflinks">
    <div class="m-links">
        <h3>Useful Links</h3>
        <ul>
            <li>
                <a href="https://www.homedepot.com/">The Home Depot</a>
            </li>
            <li>
                <a href="https://www.lowes.com/">Lowe's</a>
            </li>
            <li>
                <a href="https://www.flooranddecor.com/">Floor & Decor</a>
            </li>
            <li>
                <a href="http://www.sherwin-williams.com/">Sherwin Williams</a>
            </li>
        </ul>
    </div>
    <div class="m-links">
        <h3>My Favorites</h3>
        <a href="https://www.gutenberg.org/">
            <h4>Project Gutenburg</h4>
        </a>
        <h5>Free eBooks</h5>
        <a href="https://en.wikipedia.org/wiki/Special:Random">
            <h4>Wikipedia: Random</h4>
        </a>
        <h5>Random wiki article</h5>
        <a href="https://github.com">
            <h4>Github.com</h4>
        </a>
        <h5>Online code Hosting</h5>
    </div>
    <div class="m-links">
        <h3>Social Media</h3>
        <ul class="share-buttons">
            <a id="sm-smicon" href="https://facebook.com" target="_blank">
                <img id="sm-micon" src="static/mFacebook.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://plus.google.com" target="_blank">
                <img id="sm-micon" src="static/mGoogle+.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://www.instagram.com" target="_blank">
                <img id="sm-micon" src="static/mInstagram.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://www.linkedin.com" target="_blank">
                <img id="sm-micon" src="static/mLinkedin.png" alt="example graphic" />
            </a>
        </ul>
    </br>
        <ul class="share-buttons">
            <a id="sm-smicon" href="https://reddit.com" target="_blank">
                <img id="sm-micon" src="static/mReddit.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://www.stumbleupon.com" target="_blank">
                <img id="sm-micon" src="static/mStumbleupon.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://twitter.com" target="_blank">
                <img id="sm-micon" src="static/mTwitter.png" alt="example graphic" />
            </a>
            <a id="sm-smicon" href="https://youtube.com" target="_blank">
                <img id="sm-micon" src="static/mYouTube.png" alt="example graphic" />
            </a>
        </ul>
    </div>
</div>
{{end}}