{{define "sbfavs"}}
<div class="sidebar">
    <div class="sidebar_item">
        <h3>My Favorites</h3>
        <a href="https://www.gutenberg.org/">
            <h4>Project Gutenburg</h4>
        </a>
        <h5>Free eBooks</h5>
        <a href="https://en.wikipedia.org/wiki/Special:Random">
            <h4>Wikipedia: Random</h4>
        </a>
        <h5>Random wiki article</h5>
        <a href="https://github.com">
            <h4>Github.com</h4>
        </a>
        <h5>Online code Hosting</h5>
    </div>
</div>
{{end}}