{{define "sblinks"}}
<div class="sidebar">
    <div class="sidebar_item">
        <h3>Useful Links</h3>
        <ul>
            <li>
                <a href="https://www.homedepot.com/">The Home Depot</a>
            </li>
            <li>
                <a href="https://www.lowes.com/">Lowe's</a>
            </li>
            <li>
                <a href="https://www.flooranddecor.com/">Floor & Decor</a>
            </li>
            <li>
                <a href="http://www.sherwin-williams.com/">Sherwin Williams</a>
            </li>
        </ul>
    </div>
</div>
{{end}}