{{define "sbsmed"}}
<div class="sidebar">
    <div class="sidebar_item">
        <h3>Social Media</h3>
        <ul class="share-buttons">
            <a id="sm-icon" href="https://facebook.com" target="_blank">
                <img id="sm-icon" src="static/Facebook.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://plus.google.com" target="_blank">
                <img id="sm-icon" src="static/Google+.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://www.instagram.com" target="_blank">
                <img id="sm-icon" src="static/Instagram.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://www.linkedin.com" target="_blank">
                <img id="sm-icon" src="static/Linkedin.png" alt="example graphic" />
            </a>
            </br>
            <a id="sm-icon" href="https://reddit.com" target="_blank">
                <img id="sm-icon" src="static/Reddit.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://www.stumbleupon.com" target="_blank">
                <img id="sm-icon" src="static/Stumbleupon.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://twitter.com" target="_blank">
                <img id="sm-icon" src="static/Twitter.png" alt="example graphic" />
            </a>
            <a id="sm-icon" href="https://youtube.com" target="_blank">
                <img id="sm-icon" src="static/YouTube.png" alt="example graphic" />
            </a>
        </ul>
    </div>
</div>
{{end}}